language: python
python:
  - 2.7

sudo: required
dist: trusty

env:
  - ANSIBLE_VERSION=2.1.1.0

before_install:
  - sudo apt-get install -y python-dev libxml2-dev python-pip libxslt1-dev build-essential libssl-dev libffi-dev

install:
  - pip install -r requirements.txt
  - pip install -q ansible==$ANSIBLE_VERSION

script:
  - ansible-playbook playbook-ztp.yml -i hosts.ini --syntax-check
  - ansible-playbook playbook-ztp-conf-generate.yml -i hosts.ini --syntax-check

branches:
  only:
   - master

notifications:
  email:
    recipients:
      - git@inetsix.net
    on_failure: always
